<h3>My Reviews</h3>

<table class=table>
  <tr>
    <th>nickname</th>
    <th>latitude</th>
    <th>longitude</th>
    <th>stability</th>
    <th>comments</th>
    <th>tasks</th>
  </tr>

  <% @reviews.order(:location_id).each do |review| %>
    <tr>
      <td><%= link_to review.location.nickname, location_path(review.location) %></td>
      <td><%= review.location.lat %></td>
      <td><%= review.location.lon %></td>
      <td><%= review.stability %></td>
      <td><%= review.content %></td>

      <td>
      <%= link_to 'Show', review %>
      <%= link_to 'Edit', edit_review_path(review)%>
      <%= link_to 'Delete Review', review, method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
      </td>
    </tr>
  <% end %>

</table>
