<h3>All Reviews</h3>

<% @reviews.each do |review| %>
  <h4>name: <%= review.location.nickname if review.location != nil %></h4>
  latitude: <%= review.location.lat if review.location != nil %><br />
  longitude: <%= review.location.lon if review.location != nil %><br />
  stability: <%= review.stability if review  %><br />
  content: <%= review.content if review %>

  <% if current_user.id == review.user_id %>
  <div class="links">
    <%= link_to 'Edit', edit_review_path(review)%>
    <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>

<% end %>
