<div id="get-position">


  <%= form_for(@location) do |f| %>
    <p>nickname: <input id="nickname" type="text" name="location[nickname]" value="<%= @location.nickname %>" placeholder="my backyard"></input></p>
    latitude: <input id="lat" type="text" name="location[lat]" value="<%= @location.lat %>"></input>
    longitude: <input id="lon" type="text" name="location[lon]" value="<%= @location.lon %>"></input>
    <button onClick="getPosition()">Autofill</button>

      <%= f.fields_for :reviews_attributes do |ff| %>
        <%= ff.label "Date Visited:" %>
        <%= ff.datetime_field :date_visited, name: 'location[reviews_attributes][][date_visited]', value: Time.now.strftime("%Y-%m-%dT%H:%M") %><br>

        <%= ff.label "Stability (10 is maximum stability):" %>
        <%= ff.range_field :stability, name: 'location[reviews_attributes][][stability]', in: 0..10, step: '1', value: @review.stability, placeholder: @review.stability %><br>

        <%= ff.label "Content:" %>
        <%= ff.text_area :content, name: 'location[reviews_attributes][][content]', value: @review.content, placeholder: @review.content %><br>
      <% end %>

    <%= f.submit %>
  <% end %>

</div>
