<div id="get-position">

  <p>
  <%= f.label "Nickname:" %>
  <%= f.text_field :nickname, name: 'location[nickname]', value: @location.nickname %>
  </p>
  <p>
  <%= f.label "Latitude:" %>
  <%= f.text_field :latitude, name: 'location[lat]', value: @location.lat %>
  </p>
  <p>
  <%= f.label "Longitude:" %>
  <%= f.text_field :longitude, name: 'location[lon]', value: @location.lon %>
  <button onClick="getPosition()">Use current location</button>
  </p>

</div>
