<p>
  <%= f.label "nickname" %>
  <%= f.text_field :nickname, {id: "nickname"} %>
</p>
<p>
  <%= f.label "latitude" %>
  <%= f.text_field :lat, {id: "lat", onblur: "getCountry()"} %>
</p>
<p>
  <%= f.label "longitude" %>
  <%= f.text_field :lon, {id: "lon", onblur: "getCountry()"} %>
</p>
<p>
  <%= f.label "country" %>
  <%= f.text_field :country, {id: "country"} %>
  <button onClick="getPosition()">Autofill Location</button>
</p>

<%= f.fields_for :reviews_attributes do |ff| %>
<p>
  <%= ff.label "Date Visited:" %>
  <%= ff.datetime_field :date_visited, name: 'location[reviews_attributes][][date_visited]', value: Time.now.strftime("%Y-%m-%dT%H:%M") %>
</p>
<p>
  <%= ff.label "Stability (10 is maximum stability):" %>
  <%= ff.range_field :stability, name: 'location[reviews_attributes][][stability]', in: 0..10, step: '1' %>
</p>
<p>
  <%= ff.label "Content:" %><br />
  <%= ff.text_area :content, name: 'location[reviews_attributes][][content]' %>
</p>

<% end %>
