<p>
  <%= f.label "nickname" %>
  <%= f.text_field :nickname, {id: "nickname"} %>
</p>
<p>
  <%= f.label "latitude" %>
  <%= f.text_field :lat, {id: "lat", onblur: "getCountry()"} %>
</p>
<p>
  <%= f.label "longitude" %>
  <%= f.text_field :lon, {id: "lon", onblur: "getCountry()"} %>
</p>
<p>
  <%= f.label "country" %>
  <%= f.text_field :country, {id: "country"} %>
  <button onClick="getPosition()">Autofill Location</button>
</p>
