<div class="row">

<!-- Map of anchorages -->

  <div class="col-lg-6" id='map' >
  </div>

<!-- List of locations -->

  <div class="col-lg-3 list-container">
    <div class="col-lg-12 list-heading row"><h3>All Locations</h3></div>
    <div class="col-lg-12 list row" id="countries-list">
      <% @locations.order(:country).group_by(&:country).each do |country, locations| %>
        <h3><a href="" onClick="showLocations(event)" data-country="<%= country %>"><%= country %></a></h3>
        <div class="country-list" id="country-list-<%= country %>"></div>
      <% end %>
    </div>
  </div>

<!-- Overlay-->

  <div class="col-lg-3" id='overlay-container'>
    <div class="col-lg-12 row" id='overlay'>
    </div>
  </div>

<!-- Form -->

  <div class="sliding-form" id="create-review-form">

      <%= form_for(Location.new, url: '/locations', method: 'post') do |f| %>
        <%= render 'locator', f: f %>
        <%= render '/reviews/nestedreview', f: f %>
        <%= f.submit 'Submit' %>
        <br />
        <button onClick="closeForm()">Cancel</button>
      <% end %>

  </div>

<!-- Latest news and updates -->

  <div class="col-lg-12 row" id='latest'></div>

</div>
