<div>

  <h4>nickname: <%= @location.nickname %></h4>
  latitude: <%= @location.lonlat.lat %><br />
  longitude: <%= @location.lonlat.lon %><br />

  <!-- Edit or destroy location -->

  <% if current_user && current_user.admin %>
  <p>
    <%= link_to 'Edit Location', edit_location_path(@location)%> | 
    <%= link_to 'Delete Location', @location, method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
  </p>
  <% end %>

  <!-- Existing reviews -->

  <div id="reviews">

    <h4>Reviews</h4>

    <div class="reviews-list">

      <table class="table">

          <th>Feedback</th>
          <th>Stability</th>
          <th>Author</th>
          <th>Date Visited</th>
          <th>Links</th>

        <% @location.reviews.each do |review|  %>

          <tr class="review">
            <td><%= review.content %></td>
            <td><%= review.stability %></td>
            <td><%= review.user.username %></td>
            <td><%= review.date_visited %></td>

            <% if (current_user && current_user.admin) || (current_user && review.user_id == current_user.id) %>
              <td class="links">
                <%= link_to 'Show', review_path(review) %>
                <%= link_to 'Edit', edit_review_path(review)%>
                <%= link_to 'Destroy', review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            <% end %>
          </tr>

        <% end %>
      </table>

      <!-- Add Review to this Location  -->

      <% if current_user %>
        <p>
          <%= link_to "Add Review", new_location_review_path(@location) %>
        </p>
      <% end %>

    </div>
  </div>
</div>
