<div class="navbar navbar-toggleable-md" id="header">

  <div class="navbar-brand">
    <h3><a href="/locations" id="logo">ANCHORAGE</a></h3>
  </div>

  <div class="navbar-nav">

    <%= link_to 'Home', locations_path, class: 'nav-item nav-link' %> |
    <% if current_user != nil %>
      <%= link_to 'Add Anchorage', 'javascript:void(0)', class: 'nav-item nav-link', onclick: 'createReview(event)' %> |
      <%= link_to 'My Reviews', my_reviews_path, class: 'nav-item nav-link' %> |
      <%= link_to 'Nearby', locations_nearby_path, class: 'nav-item nav-link' %> |
    <% end %>

    <% unless (controller_name == "users" && action_name == "new") ||
      (controller_name == "sessions" && action_name == "new") %>

      <% if @user %>
        <%= link_to 'logout', logout_url %>
      <% else %>
        <%= link_to 'login', login_url %>
      <% end %>

    <% end %>

  </div>

</div>
